body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-image: url(./../images/money.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100vh;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 300px;
    text-align: center;
    font-size: 25px;
    color: rgb(255, 0, 0);
}

#main__select {
    width: 325px;
    height: 30px;
}

#input {
    padding: 10px;
    margin-right: 20px;
    width: 100%;
}

#output {
    padding: 10px;
    width: 100%;
}

.button {
    width: 325px;
    padding-top: 5px;
    padding-bottom: 5px;
}

